* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
}

header {
    padding: 99px 120px 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    background-color: #09090A;
    color: white;
}

button {
    display: flex; 

    align-items: center;

    background-color: transparent;
    color: white;
    
    border: 1px solid #8B5CF6;
    border-radius: 8px;

    padding: 16px 24px;
    gap: 12px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;

    cursor: pointer;
}

form {
    display: flex;
    padding-top: 250px;
    margin: 0 120px 0;
}

.habits {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    margin-right: 32px;
    gap: 22px;
}

.habit {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 64px
}

.days {
    display: flex;
    gap: 48px
}

.day {
display: flex;
flex-direction: column;
gap: 24px;
}

.day div{
    display: flex;

    justify-content: center;

    color: #A1A1AA;

    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
}

input {
    appearance: none;
    -webkit-appearance: none;

    background-color: #18181B;
    border: 2px solid #27272A;
    border-radius: 8px;

    width: 64px;
    height: 64px;

    display: flex;

    padding: 22px 19px;
}

input:checked{
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

@media (max-width: 500px) {
    
    header {
        padding: 39px 50px 25px;
    }

    button div {
        display: none;
    }

    form {
        padding-top: 120px;
        margin: 0 50px;
    }
}